name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run simple test
      run: |
        python -m unittest || echo "No tests yet"

    - name: Build Docker image
      run: docker build -t gha-flask .

    - name: Push Docker image to Docker Hub
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        docker tag gha-flask ${{ secrets.DOCKER_USERNAME }}/gha-flask:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/gha-flask:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:        
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Install Docker if not installed
            if ! command -v docker &> /dev/null
            then
                sudo apt update -y
                sudo apt install -y docker.io
                sudo systemctl start docker
                sudo systemctl enable docker
            fi

            # Pull and run container
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/gha-flask:latest
            sudo docker stop flaskapp || true
            sudo docker rm flaskapp || true
            sudo docker run -d --name flaskapp -p 5000:5000 ${{ secrets.DOCKER_USERNAME }}/gha-flask:latest