name: Docker Build and Push
on: push
jobs:
  build_and_push:
    strategy:
      matrix:
        os: [ubuntu-latest]
        images: [hello-world, nginx]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        run: docker info

      - name: Set up Docker Buildx
        run: docker run -d ${{ matrix.images }}

  show-context:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - name: Show GitHub Context
        run: |
          echo "Event: ${{ github.event_name }}"
          echo "Branch: ${{ github.ref }}"
          echo "Actor: ${{ github.actor }}
          echo "Repository: ${{ github.repository }}"
          echo "OS: ${{ runner.os }}"
          echo "Matrix OS: ${{ matrix.os }}"
