name: Docker Build and Push
on: push
jobs:
  build_and_push:
    matrix:
      os: [ubuntu-latest, windows-latest]
      images: [hello-world, alphine]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: docker info

      - name: Set up Docker Buildx
        uses: docker run ${{ matrix.images }}
