name: Docker Build and Push
on: push
jobs:
  build_and_push:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        images: [hello-world, nginx]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        run: docker info

      - name: Set up Docker Buildx
        run: docker run ${{ matrix.images }}
